#
# BEAU HYPERVISOR 2026
#
# SPDX-License-Identifier: BSD-3-Clause
#

menu "Virtual PCI"

config VMCS9900
	bool "Enable VMCS9900 vUART backend"
	default n
	help
	  Compile the legacy VMCS9900 virtual UART path.

endmenu
