#
# BEAU HYPERVISOR 2026
#
# Copyright (C) 2026 Hustler Lo.
# SPDX-License-Identifier: BSD-3-Clause
#

mainmenu "BEAU HYPERVISOR Configuration"

source "arch/Kconfig"
source "core/Kconfig"
source "lib/Kconfig"
source "sdk/bsp/Kconfig"
